.body {
  height: 100%;
  min-height: 600px;
  width: 90%;
  background-image: linear-gradient(
    to top right,
    #0abde9,
    #b9e7f3,
    #54c8e4,
    #b9e7f3,
    #0abde9
  );
  margin: auto;
  border-radius: 15px;
}
