.entry-page {
  text-align: center;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.275);
  padding: 1rem;
  max-height: 75vh;
  border-radius: 10px;
  font-size: 16pt;
  overflow-y: scroll;
}

.entry-page img {
  max-width: 200px;
}

.types {
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.types-body {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  margin: auto;
}

.data-body {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 1rem auto;
}

#entry-description {
  width: 80%;
  margin: 1rem auto;
}

.entry-buttons {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

.entry-page-not-found {
  text-align: center;
  width: 60%;
  min-width: 400px;
  margin: 2rem auto;
}

.entry-page-not-found p {
  margin: 2rem;
}

.entry-loading {
  text-align: center;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.275);
  padding: 1rem;
  max-width: 50%;
}

@media screen and (max-width: 720px) {
  .data-body {
    width: 90%;
  }
  .entry-buttons {
    flex-direction: column;
    align-content: space-between;
    height: 200px;
  }
}

@media screen and (max-width: 900px) {
  .entry-buttons {
    width: 80%;
    justify-content: space-evenly;
  }
  .types-body {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .types-body {
    flex-direction: column;
    align-content: space-evenly;
    height: 125px;
    width: 100%;
  }
  .types {
    margin: auto;
  }
}
