.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-body {
  width: 50%;
  padding: 2rem;
  text-align: center;
  margin: auto;
}

.logo {
  width: 50% !important;
}

#welcome-text {
  font-size: 14pt;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 250px !important;
    padding: none;
  }
  .landing-screen {
    margin: auto !important;
  }
  .landing-body {
    width: 100%;
  }
}
