.search {
  text-align: center;
}

.searchbar {
  display: flex;
  margin: 2rem auto;
  width: 60%;
  justify-content: space-evenly;
}

.search-select {
  border-radius: 10px 0 0 10px;
}

#search-input {
  font-size: 16pt;
  padding: 0.5rem;
  border: none;
  box-shadow: inset;
  width: 75%;
}

#search-button {
  border-radius: 0 10px 10px 0 !important;
}
