.search-results {
  height: 400px;
}

.results-list {
  list-style-type: none;
  padding: 1rem;
  width: 60%;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.275);
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.results-list li {
  list-style: none;
  font-size: 20px;
  padding: 0.7rem;
  border-radius: 10px;
}

.results-list li:hover {
  background-color: rgba(255, 255, 255, 0.383);
}

#no-results {
  font-size: 20px;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.275);
  border-radius: 10px;
  width: 60%;
  padding: 1rem;
}
